@model introducao.Models.Pessoa;

@{
    ViewData["Title"] = "MVC";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center mt-5">
                <h1 class="display-4">Welcome - Breno</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                <br/>
                
                @using (Html.BeginForm("Lista", "Home", FormMethod.Post))
                {
                    <fildset>
                        <legend>
                            Informações de Pessoas
                        </legend>
                    
                        <div class="d-flex flex-column w-50">
                            <label for="PessoaId">@Html.LabelFor(x => x.PessoaId)</label>
                            @Html.EditorFor(x => x.PessoaId)
                        </div>
                        <div class="d-flex flex-column w-50">
                            <label for="PessoaId">@Html.LabelFor(x => x.PessoaName)</label>
                            @Html.EditorFor(x => x.PessoaName)
                        </div>
                        <div class="d-flex flex-column w-50">
                            <label for="PessoaId">@Html.LabelFor(x => x.PessoaType)</label>
                            @Html.EditorFor(x => x.PessoaType)
                        </div>
                        <input type="submit" value="enviar"/>
                    </fildset>
                }

                
                
            </div>
        </div>
    </div>
</div>


