@model introducao.Models.Pessoa;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Lista";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Lista</h2>
            <div class="">
                <b>@Html.LabelFor(x => x.PessoaId)</b>
            </div>
            <div class="">
                @Model.PessoaId
            </div>
            <div class="">
                <b>@Html.LabelFor(x => x.PessoaName)</b>
            </div>
            <div class="">
                @Model.PessoaName
            </div>
            <div class="">
                <b>@Html.LabelFor(x => x.PessoaType)</b>
            </div>
            <div class="">
                @Model.PessoaType
            </div>
            @Html.ActionLink("Voltar", "Index", "Home")
        </div>
    </div>
</div>